extends layout

block content
  h1= title
  br
  a(href='/profile') profile
  br
  a(href='/login') logout
  br
  if ideas
  each idea in ideas
    .ideas 
      //h2= idea.ideas_id
    h3= idea.ideas_title
    img(src='https://s3-us-west-1.amazonaws.com/igclonev2/' + idea.ideas_description, id='images')
    br
    script(type='text/javascript').
    -for(let i=0; i<idea.comments.length; i++){
      h6= idea.comments[i].comment_from_userName + ' :' + idea.comments[i].comment_comments
    -}
    span Liked by: 
    -for(let i=0; i<idea.likes.length; i++){
      -if(idea.likes[i] === idea.likes[idea.likes.length-1]){
        span(id='likes-font')= idea.likes[i].user_who_liked
      -}
      -else{
        span(id='likes-font')= idea.likes[i].user_who_liked + ', '
      -}
    -}
    form(action='/comments', method='post')
        input.btn.btn-primary(type='text', name='comment', placeholder='Comment Here', required)
        br
        input.btn.btn-primary(class="postID", type='text', name='postID', value=idea.ideas_id)
        br
        //p(name='postID' value=idea.id)= idea.id
        input.btn.btn-primary(type='submit', value='Comment')
    form(action='/likes', method='post')
        img(src='https://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png', width='40px', height='40px', onclick='clicker()')
        input.btn.btn-primary(type='submit', value='Like')
        input.btn.btn-primary(class='postID', type='text', name='postID', value=idea.ideas_id)
  else
    h2 no ideas yet
  form(action='/home', method='post', enctype='multipart/form-data')
    br
    input.btn.btn-primary(type='file', id='', name='imageUpload', required)
    br
    label Idea
    br
    input.btn.btn-primary(type='text', name='title', placeholder='Enter idea')
    br
    label Description
    br
    input.btn.btn-primary(type='text', name='description', placeholder='Enter idea description')
    br
    input.btn.btn-primary(type='submit', value='Post')
